.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.75rem;
  margin-top: 1.5rem;

  &__info {
    font-weight: 700;
    color: #1f2937;
    text-align: center;
  }
}

@media (min-width: 768px) {
  .pagination {
    gap: 1rem;
    margin-top: 2rem;
  }
}